.app {
    margin: 0 auto;
    min-height: 100vh;
    font-size: 14px;
    font-weight: 400;
    color: var(--signal-black);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  .app_dark-mode {
    color: var(--white);
    background-color: var(--black);
  }