.noun {
  margin: 0 auto;
  padding: 0 24px 32px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .noun {
    padding: 0 40px 40px;
  }
}

.noun__container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .noun__container {
    margin-top: 64px;
  }
}

.noun__title {
  margin: 0;
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .noun__title {
    font-size: 20px;
  }
}

.noun__synonym {
  text-decoration: none;
  color: var(--purple);
  font-size: 16px;
  font-weight: 700;
}

.noun__synonym:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .noun__synonym {
    font-size: 20px;
  }
}