.search {
  flex-grow: 0;
  margin: 0 auto;
  padding: 0 24px 24px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .search {
    padding: 0 40px 43px;
  }
}

.search__form {
  border: 1px solid var(--white);
  border-radius: 16px;
  background-color: var(--smoky-white);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search__form:hover {
  border-color: var(--purple);
}

.search__form_empty {
  border-color: var(--red-orange);
}

.search__form_empty:hover {
  border-color: var(--red-orange);
}

.search__input {
  margin: 0;
  padding: 0 0 0 24px;
  border: none;
  min-height: 48px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  width: min-content;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  font-weight: 700;
  font-size: 16px;
  opacity: 0.25;
}

@media screen and (min-width: 768px) {
  .search__input::placeholder {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .search__input {
    font-size: 20px;
    min-height: 64px;
  }
}

.search__button {
  margin-right: 24px;
  padding: 0;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border: none;
  background-image: url("../../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search__button:focus {
  outline: none;
}

.search__form-error {
  font-size: 12px;
  font-weight: 400;
  color: var(--red-orange);
  display: block;
  max-height: 20px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .search__form-error {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  .search__form-error {
    font-size: 20px;
  }
}

.search__form-error_active {
  visibility: visible;
}